<header class="header active" data-header>
    <div class="container">

      <a href="#" class="logo">
        <img src="./assets/images/logo.svg" width="110" height="53" alt="unigine home">
      </a>

      <nav class="navbar" data-navbar>
        <ul class="navbar-list">

          <li class="navbar-item">
            <a href="#home" class="navbar-link" data-nav-link>home</a>
          </li>

          <li class="navbar-item">
            <a href="#tournament" class="navbar-link" data-nav-link>tournament</a>
          </li>

          <li class="navbar-item">
            <a href="#news" class="navbar-link" data-nav-link>news</a>
          </li>

          <li class="navbar-item">
            <a href="#" class="navbar-link" data-nav-link>contact</a>
          </li>

        </ul>
      </nav>

      <a href="#" class="btn" data-btn>join our team</a>

      <button class="nav-toggle-btn" aria-label="toggle menu" data-nav-toggler>
        <span class="line line-1"></span>
        <span class="line line-2"></span>
        <span class="line line-3"></span>
      </button>

    </div>
  </header>
