<main class="container mt-4">
    <div class="game-grid">
     
        <div class="game-card">
            <img src="witcher.webp" alt="The Witcher 3: Complete Edition">
            <p>The Witcher 3: Complete Edition</p>
        </div>
        <div class="game-card">
            <img src="alenwake2.webp" alt="Alan Wake II">
            <p>Alan Wake II</p>
        </div>
        <div class="game-card">
            <img src="starfield.webp" alt="Starfield">
            <p>Starfield: Premium Edition</p>
        </div>
        <div class="game-card">
            <img src="download.jpg" alt="AC Origin">
            <p>Assassin Creed Origin</p>
        </div>
        <div class="game-card">
            <img src="spiderman.webp" alt="Spider man">
            <p>Spider Man </p>
        </div>
        <div class="game-card">
            <img src="gtav.webp" alt="GtaV">
            <p>Grand thief auto v </p>
        </div>
        <div class="game-card">
            <img src="witcher.webp" alt="The Witcher 3: Complete Edition">
            <p>The Witcher 3: Complete Edition</p>
        </div>
        <div class="game-card">
            <img src="witcher.webp" alt="The Witcher 3: Complete Edition">
            <p>The Witcher 3: Complete Edition</p>
        </div>
        <div class="game-card">
            <img src="witcher.webp" alt="The Witcher 3: Complete Edition">
            <p>The Witcher 3: Complete Edition</p>
        </div>
        <div class="game-card">
            <img src="witcher.webp" alt="The Witcher 3: Complete Edition">
            <p>The Witcher 3: Complete Edition</p>
        </div>
        <div class="game-card">
            <img src="witcher.webp" alt="The Witcher 3: Complete Edition">
            <p>The Witcher 3: Complete Edition</p>
        </div>
        <div class="game-card">
            <img src="witcher.webp" alt="The Witcher 3: Complete Edition">
            <p>The Witcher 3: Complete Edition</p>
        </div>
        <div class="game-card">
            <img src="witcher.webp" alt="The Witcher 3: Complete Edition">
            <p>The Witcher 3: Complete Edition</p>
        </div>
        
    </div>
</main>
